# Operadores Aritméticos

In [ ]:
#Adição
10+2

12

In [ ]:
#Subtração
10-2

8

In [ ]:
#Multiplicação
10*2

20

In [ ]:
#Divisão
10/2

5.0

In [ ]:
#Divisão inteira
10//2

5

In [ ]:
#Resto da divisão
10%2

0

In [ ]:
#Potenciação
10**2

100

# Operadores Relacionais

In [ ]:
#Menor
10<2

False

In [ ]:
#Menor ou igual
10<=2

False

In [ ]:
#Maior
10>2

True

In [ ]:
#Maior ou igual
10>=2

True

In [ ]:
#Igual
10==2

False

In [ ]:
#Diferente
10!=2

True

# Operadores Lógicos

In [ ]:
print("""And
Or
Not""")

And
Or
Not

# Tabela verdade

**And**

In [ ]:
print(4>6 and 10>2) #F and V - F

False

**Or**

In [ ]:
print(4>6 or 10>2) #F or V - V

True

**Not**

In [ ]:
not 10>2 #V - F

False

In [ ]:
not 10<2 #F - V

True

# Visualização de variáveis e textos

In [ ]:
print('Conhecendo o comando Print')
x=8
print(x)

Conhecendo o comando Print
8

In [ ]:
y=10
soma=x+y
print(soma)

18

In [ ]:
nome='Rodrigo Rebouças'
print(nome)

Rodrigo Rebouças

**Concatenação**

In [ ]:
x=5
print('o valor de x é',x)

o valor de x é 5

In [ ]:
print('o valor de x é',x,'o dobro é',x*2)

o valor de x é 5 o dobro é 10

In [ ]:
print('Eu,',nome,'tirei',x,'na prova de Python')

Eu, Rodrigo Rebouças tirei 5 na prova de Python

In [ ]:
y=10;z=20+x-y
print('Declarar várias variáveis na mesma linha',y,z)

Declarar várias variáveis na mesma linha 10 15

# Type

In [ ]:
x=10
type(x)
print('x',type(x))

nome='Rodrigo'
print('nome',type(nome))

num='100'
num_convert=int(num) #converter variável
print('num',type(num))
print('num_convert',type(num_convert))

num_float=float(num)
print('num_float',num_float)

x <class 'int'>
nome <class 'str'>
num <class 'str'>
num_convert <class 'int'>
num_float 100.0

# Input
*   Armazenar a informação digitada pelo usuário em uma variável
*   O dado armazenado sempre será um texto

In [ ]:
nome=input('Digite o nome do usuário') #Aguarda o usuário digitar algo
print(nome)

Digite o nome do usuárioRodrigo
Rodrigo

In [ ]:
valor=input('Digite a nota')

print(nome,'sua nota foi',valor)

Digite a nota7

TypeError: 'tuple' object is not callable

In [ ]:
valor=input('Digite o valor do produto')

print(valor)

Digite o valor do produto100

TypeError: 'tuple' object is not callable

In [ ]:
desconto=valor-5

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [ ]:
valor_convert=int(valor)
desconto=valor_convert-5
print(desconto)

TypeError: 'tuple' object is not callable

In [ ]:
desconto=int(valor)-5
print(desconto)

TypeError: 'tuple' object is not callable

# Condicional

In [ ]:
if 5>10:
  print('Verdade')
else:
  print('Falso')

Falso

In [ ]:
#if/else
num1=10
num2=5
if num1>num2:
  print('O num1 é o maior número')
else:
  print('O num2 é o maior número')

O num1 é o maior número

In [ ]:
#if/elif/else
num1=10
num2=10
if num1>num2:
  print('O num1 é o maior número')
elif num1<num2:
  print('O num2 é o maior número')
else:
  print('Os dois são iguais')

Os dois são iguais

# Condicional com operadores lógicos

In [ ]:
num1=10
num2=5
num3=2
if (num1>num2) and (num1>num3):
  print('O num1 é o maior número')
else:
  print('O num1 não é o maior número')

O num1 é o maior número

# Listas, tuplas e dicionários

In [ ]:
#Lista
[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [ ]:
#Tupla
(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [ ]:
#Dicionário
{'num1':1,'num2':2}

{'num1': 1, 'num2': 2}

# Lista

In [ ]:
lista=[5,'Rodrigo',8.9] #qualquer tipo de conteúdo

In [ ]:
type(lista)

list

In [ ]:
lista.append('Augusto') #adicionar um elemento na lista

In [ ]:
print(lista)
print(lista[1])
print(lista[0])

[5, 'Rodrigo', 8.9, 'Augusto']
Rodrigo
5

# Tupla

In [ ]:
tupla=(5,'Rodrigo',8.9)

In [ ]:
type(tupla)

tuple

In [ ]:
tupla.append('Augusto') #não é possível adicionar elementos em uma tupla

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
print(tupla)

(5, 'Rodrigo', 8.9)

# Dicionário

In [ ]:
dicionário={'Nome':'Rodrigo','Cidade':'São José dos Campos'}

In [ ]:
type(dicionário)

dict

In [ ]:
print(dicionário)

{'Nome': 'Rodrigo', 'Cidade': 'São José dos Campos'}

In [ ]:
print(dicionário['Nome'])

Rodrigo

In [ ]:
dicionário['Último Nome']='Rebouças'

In [ ]:
print(dicionário)

{'Nome': 'Rodrigo', 'Cidade': 'São José dos Campos', 'Último Nome': 'Rebouças'}

# Estruturas de repetição

For

In [ ]:
#For Range
for contador in range(10):
  print(contador)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#For Range+Break
for contador in range(1000):
  print(contador)
  if contador ==2:
    break

0
1
2

In [ ]:
lista=['Teste1','Teste2']

In [ ]:
#For Simples
for val in lista:
  print(val)

Teste1
Teste2

In [ ]:
#For com Enumerate
for i,val in enumerate(lista):
  print(i,val)

0 Teste1
1 Teste2

# For com operadores compostos

In [ ]:
lista2=[2,3,4]

In [ ]:
for val in lista2:
  val +=1
  print(val)

3
4
5

In [ ]:
for val in lista2:
  val *=2
  print(val)

4
6
8

In [ ]:
for val in lista2:
  val /=2
  print(val)

1.0
1.5
2.0

In [ ]:
for val in lista2:
  val %=2
  print(val)

0
1
0

# While

In [ ]:
val=1
while (val<6):
  val *=2
  print(val)

2
4
8

In [ ]:
#While com Else
val=1
while (val<6):
  val *=2
else:
  print('Valor de val é: ', val)

Valor de val é:  8